@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"M54";
	src: url("../FONTS/M54.ttf")
}
body{
	font-family: arial,Helvetica,sans-serif;
	margin:0px;
	background: url("../PICTURES/Combos.jpg"); /* imagen de fondo */
	background-size: cover;/* tipo de esparcimiento de la imagen */
	background-attachment: fixed; /* fijado al fondo */
}

*{
	box-sizing: border-box; /* encajona los elementos para trabajarlos por separado mas comodo */
}

.logo{
	text-align: left;
}