@charset "utf-8";
/* CSS Document */

@font-face {
	font-family:"M54";
	src: url("../FONTS/M54.ttf")
}
body{
	
	background: url("../PICTURES/Combos.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;  
}

.linked{
	font-family:"M54";
	font-size: 25px;
	color: rgba(255, 251, 0, 0.527);
	text-shadow: rgb(0, 0, 0) 0.2em 0.2em 0.4em;
	white-space: pre-wrap;
}

div#general{
    width: 80%;
    height: 600px;
    margin:auto;
    margin-top: 0px;
    white-space: pre-wrap; 
}

.subtitle{
    font-family:"M54";
	font-size: 35px;
    text-align: center;
	color:rgb(231, 229, 92);
	text-shadow: rgb(0, 0, 0) 0.2em 0.2em 0.4em;
}