*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background: url("../PICTURES/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


div#text{
    width: 80%;
    height: 600px;
    margin:auto;
    margin-top: 50px;
    white-space: pre-wrap;
}

.title{
    font-family:"Algerian";
	font-size: 40px;
    text-align: center;
	color: rgb(231, 229, 92);
	text-shadow: rgb(0, 0, 0) 0.2em 0.2em 0.4em;
}
