*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    background: url("../PICTURES/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.enca{
    background: rgba(27, 27, 27, 0.5);
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
}
.wrapper{
    width: 90%;
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
}
.logo{
    float: left;
    color: #fff;
    font-size: 50px;
    font-family: Algerian;
    line-height: 70px;
}
nav{
  
    float: right;
}
nav a{
    color: rgb(218, 211, 211);
    display: inline-block;
    text-decoration: none;
    font-family: Algerian;
    font-weight: bold;
    padding: 20px 10px;
    line-height: normal;
    font-size: 16 px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
nav a:hover{
    color: rgb(141, 139, 139);
    border-bottom: 5px solid rgb(231, 229, 92);
}
    

div#text{
    width: 80%;
    height: 600px;
    margin:auto;
    margin-top: 50px;
    white-space: pre-wrap;
}

.title{
    font-family:"Algerian";
	font-size: 40px;
    text-align: center;
	color: rgb(231, 229, 92);
	text-shadow: rgb(0, 0, 0) 0.2em 0.2em 0.4em;
}
